/* l-icon-key-2 */
@l-icon-key-2: 'l-icon-key-2';
@l-icon-key-2-x: 0px;
@l-icon-key-2-y: 0px;
@l-icon-key-2-offset-x: 0px;
@l-icon-key-2-offset-y: 0px;
@l-icon-key-2-width: 64px;
@l-icon-key-2-height: 64px;
@l-icon-key-2-total-width: 64px;
@l-icon-key-2-total-height: 424px;
@l-icon-key-2-image: '../img/sprite.png';
@l-icon-key-2-image-2x: '';
@l-icon-key-2-retina: true;
/* l-icon-key-3 */
@l-icon-key-3: 'l-icon-key-3';
@l-icon-key-3-x: 0px;
@l-icon-key-3-y: 72px;
@l-icon-key-3-offset-x: 0px;
@l-icon-key-3-offset-y: -72px;
@l-icon-key-3-width: 64px;
@l-icon-key-3-height: 64px;
@l-icon-key-3-total-width: 64px;
@l-icon-key-3-total-height: 424px;
@l-icon-key-3-image: '../img/sprite.png';
@l-icon-key-3-image-2x: '';
@l-icon-key-3-retina: true;
/* l-icon-key-4 */
@l-icon-key-4: 'l-icon-key-4';
@l-icon-key-4-x: 0px;
@l-icon-key-4-y: 144px;
@l-icon-key-4-offset-x: 0px;
@l-icon-key-4-offset-y: -144px;
@l-icon-key-4-width: 64px;
@l-icon-key-4-height: 64px;
@l-icon-key-4-total-width: 64px;
@l-icon-key-4-total-height: 424px;
@l-icon-key-4-image: '../img/sprite.png';
@l-icon-key-4-image-2x: '';
@l-icon-key-4-retina: true;
/* l-icon-key-5 */
@l-icon-key-5: 'l-icon-key-5';
@l-icon-key-5-x: 0px;
@l-icon-key-5-y: 216px;
@l-icon-key-5-offset-x: 0px;
@l-icon-key-5-offset-y: -216px;
@l-icon-key-5-width: 64px;
@l-icon-key-5-height: 64px;
@l-icon-key-5-total-width: 64px;
@l-icon-key-5-total-height: 424px;
@l-icon-key-5-image: '../img/sprite.png';
@l-icon-key-5-image-2x: '';
@l-icon-key-5-retina: true;
/* l-icon-key-6 */
@l-icon-key-6: 'l-icon-key-6';
@l-icon-key-6-x: 0px;
@l-icon-key-6-y: 288px;
@l-icon-key-6-offset-x: 0px;
@l-icon-key-6-offset-y: -288px;
@l-icon-key-6-width: 64px;
@l-icon-key-6-height: 64px;
@l-icon-key-6-total-width: 64px;
@l-icon-key-6-total-height: 424px;
@l-icon-key-6-image: '../img/sprite.png';
@l-icon-key-6-image-2x: '';
@l-icon-key-6-retina: true;
/* l-icon-key */
@l-icon-key: 'l-icon-key';
@l-icon-key-x: 0px;
@l-icon-key-y: 360px;
@l-icon-key-offset-x: 0px;
@l-icon-key-offset-y: -360px;
@l-icon-key-width: 64px;
@l-icon-key-height: 64px;
@l-icon-key-total-width: 64px;
@l-icon-key-total-height: 424px;
@l-icon-key-image: '../img/sprite.png';
@l-icon-key-image-2x: '';
@l-icon-key-retina: true;
