// normalize

@import '../styles/normalize.css';

// fonts & variables

@import '../styles/helpers/variables.less';
@import '../styles/fonts.css';

// helpers

@import '../styles/helpers/mixins.less';
@import '../styles/helpers/sprite.less';

// INCLUDED BLOCKS

// tablet view

//@media only screen and (min-width : @desktop) {
//
//	@import '../blocks/block-header/header.less';
//	@import '../blocks/block-footer/footer.less';
//
//}


// desktop view

@media only screen and (min-width : @desktop) {

	@import '../blocks/block-name/name.less';

}

// general styles //

// sprites

.icon-1 {
	display: inline-block;
	.sprite(@l-icon-key-5);
}

// animation

a, a:hover, li, img, input, textarea {
	transition: all 0.5s ease-in-out;
}

body {
	cursor: default;
}

a {
  cursor: pointer;
}

ul {

}

@media only screen and (min-width : @mobile) and  (max-width : @desktop) {

}


