.header-class {
  height: auto;
}
.header-class p {
  font: 12px 'tahoma';
  color: #5a5;
  text-decoration: underline;
  height: 30px;
  background: #f00;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
